@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body, html {
  font-size: 16_3x;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-position: inside;
}

small {
  line-height: 1rem;
}

img {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: 1px solid #ddd;
}

/*---=======================================CSS index============================================---*/
/*---VARIABILI---*/
.header_1 {
  display: flex;
  width: 100%;
  background-image: url("../img/logo_31.jpg");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
}

/* Navbar */
.nav_header {
  margin-bottom: auto;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding: 10px;
}

.nav_header_1 {
  margin-bottom: auto;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding: 10px 15px;
}

.logo {
  width: 130px;
}

/* Menu */
.menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.menu ul li a:hover {
  color: aqua;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1001;
}
.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

/* Section principale */
.section_1 {
  background-color: rgba(0, 0, 0, 0.5);
}

.container_sec {
  max-width: 800px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#h1_sec, #h2_sec, #p_sec {
  color: white;
}

#h1_sec {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
}

#h2_sec {
  font-family: "Lora", serif;
  font-size: 28px;
  font-weight: 600;
}

/*=======================================CHI SONO==============================================*/
.header0_1 {
  width: 100%;
  background-image: url("../img/logo_31.jpg");
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
}

.sec_header_7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.con_webD {
  margin: 0px;
  padding: 10px;
}

.con_header_7_0 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  max-width: 100%;
  margin: 20px;
}

.con_header_7 {
  width: 100%;
}

#h1_webD {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(24px, 13vw, 88px);
}

#h1_header_7 {
  font-family: "Lora", serif;
  font-size: clamp(24px, 8vw, 48px);
}

#p_header_7 {
  font-size: clamp(16px, 5vw, 18px);
}

.section_10 {
  padding: 15px;
  height: auto;
  background-color: #dfdfdf;
}

/*---container 1---*/
.container_1 {
  height: auto;
  line-height: 1.6;
  margin-bottom: 20px;
}

#h2-1, #h2-2, #h2-3 {
  margin-bottom: 5px;
  font-family: "Lora", serif;
  font-size: 26px;
}

#p-1, #p-2, #p-3 {
  font-size: 17px;
}

/*---container 2---*/
.container_2 {
  height: auto;
  line-height: 1.6;
  margin-bottom: 20px;
}

/*---container 3---*/
.container_3 {
  height: auto;
  line-height: 1.6;
  margin-bottom: 20px;
}

#h3_7 {
  margin-top: 15px;
  font-family: "Lora", serif;
}

#ul_1 {
  list-style-type: disc;
  margin-left: 30px;
}

#li_1 {
  margin-bottom: 10px;
  margin-top: 10px;
}

/*codice menu (//1)*/
.container_76 {
  width: 300px;
  height: auto;
}

.menu_0_1 {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.menu-item_0_1 {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #333;
  font-weight: bold;
  transition: background 0.3s;
}

.menu-item_0_1.active {
  background: #a1a0a0;
  border: solid 1px #000000;
  color: #000000;
}

.submenu_0_1 {
  display: none;
  padding-left: 15px;
  margin-top: 5px;
}
.submenu_0_1 div {
  padding: 5px 0;
}

/*=========================================progetti==============================================*/
.section_12 {
  height: auto;
}

.container_21 {
  height: auto;
  padding: 15px;
}

.container_34 {
  width: 100%;
  height: auto;
}

#h2_76 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  margin-bottom: 15px;
}

#a_145 {
  font-size: 30px;
  color: #000000;
}

#a_146 {
  font-size: 30px;
  color: #000000;
}

/*---container progetti (1//)---*/
.projects-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 20px;
  justify-content: flex-start;
  overflow-x: scroll;
  scrollbar-width: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.projects-container::-webkit-scrollbar {
  display: none;
}

.project {
  flex: 0 0 auto;
  width: 13%;
  height: 100px;
  background-color: rgb(150, 150, 150);
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #333;
  margin: 35px 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}

/*==================================================CSS contatti=========================================*/
.contact-section {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: rgb(219, 219, 219); /*Il griggio chiaro da usare in tutte le sezioni*/
  padding-top: 5px;
}

.video-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
}

video {
  width: 90%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlapping-containers {
  position: relative;
  top: -60px;
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.container {
  width: 18%;
  height: 100px;
  background-color: black;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

#p_87 {
  color: white;
  font-size: clamp(18px, 13vw, 28px);
  text-align: center;
  margin-top: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay.hidden {
  display: none;
}

.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 25px;
}

.overlay-content h2 {
  margin: 0 0 10px;
  color: black;
}

.overlay-content p {
  margin: 0;
  color: black;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  cursor: pointer;
  color: white;
}

.container_contatti {
  width: 50%;
  height: auto;
  align-items: center;
}

#h2_contatti {
  color: #000000;
  font-family: "Playfair Display", serif;
  margin-bottom: 5px;
  font-size: 35px;
}

#p_contatti_121 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 20px;
  padding-bottom: 15px;
}

#p_89 {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

/*=======================================FOOTER===========================================*/
/* Stile generale per il footer */
footer {
  background: linear-gradient(180deg, #0D0D0D, #1A1A1A);
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.socials a {
  text-decoration: none;
  color: #d3d3d3;
  margin: 0 10px;
}

.socials a:hover {
  color: white;
}

/*---MEDIA QUIERI---*/
@media (max-width: 1024px) { /* Tablet e Smartphone grandi (max-width: 1024px) */
  /*---Menu hamburger*/
  .hamburger div {
    width: 50px;
    height: 5px;
  }
  /*---CHI SONO---*/
  .con_header_7_0 {
    padding: 10px;
    margin: 0px;
  }
  /*---CONTATTI---*/
  .container {
    width: 150px;
    height: 90px;
  }
  .overlapping-containers {
    top: -60px;
    gap: 10vw;
  }
  #p_87 {
    color: white;
    font-size: clamp(18px, 5vw, 28px); /* Minimo 24px, massimo 48px, adattandosi nel mezzo */
    text-align: center;
    margin-top: 25px;
  }
  /*---FOOTER---*/
  .footer-content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .socials {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) { /* Tablet piccoli e Smartphone grandi (max-width: 768px) */
  /*---Menu hamburger*/
  .hamburger div {
    width: 50px;
    height: 5px;
  }
  /*---HOME---*/
  .hamburger {
    display: flex;
  }
  .container_sec {
    padding: 0px;
  }
  .section_1 {
    padding: 20px;
    margin-top: 480px;
  }
  #h1_sec {
    font-size: 30px;
  }
  #h2_sec {
    font-size: 25px;
  }
  #p_sec {
    font-size: 17px;
  }
  /*menu hamburger*/
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: -200px; /* Sposta il testo più in su */
  }
  .menu ul li {
    list-style: none;
    margin: 15px 0;
  }
  .menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem; /* Aumenta la dimensione del testo */
  }
  .menu_active {
    right: 0;
  }
  /* Animazione icona hamburger */
  .hamburger_active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger_active div:nth-child(2) {
    opacity: 0;
  }
  .hamburger_active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  /*---CHI SONO---*/
  .con_header_7_0 {
    padding: 10px;
    margin: 0px;
  }
  /*---CONTATTI---*/
  .container {
    width: 150px;
    height: 80px;
  }
  .overlapping-containers {
    top: -35px;
    gap: 10vw;
  }
  #p_87 {
    color: white;
    font-size: clamp(18px, 5vw, 28px); /* Minimo 24px, massimo 48px, adattandosi nel mezzo */
    text-align: center;
    margin-top: 25px;
  }
  /*---PROGETTI---*/
  .project {
    width: 110px;
    height: 80px;
    margin: 20px 5px;
  }
  #h2_76 {
    font-size: 30px;
  }
  #a_145 {
    font-size: 20px;
  }
  #a_146 {
    font-size: 20px;
  }
  /*---FOOTER---*/
  .socials a {
    margin: 0 5px;
  }
  .footer-content {
    text-align: center;
  }
}
@media (max-width: 480px) { /* Smartphone medi e piccoli (max-width: 480px) */
  /*---Menu hamburger*/
  .hamburger div {
    width: 40px;
    height: 5px;
  }
  /*---CHI SONO---*/
  .con_header_7_0 {
    padding: 10px;
    margin: 0px;
  }
  /*---CONTATTI---*/
  .container {
    width: 80px;
    height: 50px;
  }
  .overlapping-containers {
    top: -35px;
    gap: 10vw;
  }
  #p_87 {
    color: white;
    font-size: clamp(18px, 1vw, 28px);
    text-align: center;
    margin-top: 15px;
  }
}
@media (max-width: 375px) { /* Smartphone molto piccoli (max-width: 375px) */
  /*---Menu hamburger*/
  .hamburger div {
    width: 30px;
    height: 5px;
  }
  /*---CHI SONO---*/
  .con_header_7_0 {
    padding: 10px;
    margin: 0px;
  }
  /*---CONTATTI---*/
  .container {
    width: 80px;
    height: 50px;
  }
  .overlapping-containers {
    top: -35px;
    gap: 8vw;
  }
  #p_87 {
    color: white;
    font-size: clamp(18px, 1vw, 28px);
    text-align: center;
    margin-top: 15px;
  }
}/*# sourceMappingURL=index.css.map */